.div-1 {
  background-color: rgb(138, 84, 231);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-2 {
  background-color: rgb(25, 221, 151);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-3 {
  background-color: rgb(58, 51, 178);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-4 {
  background-color: rgb(113, 56, 111);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-5 {
  background-color: rgb(171, 107, 133);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-6 {
  background-color: rgb(3, 8, 149);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-7 {
  background-color: rgb(95, 175, 241);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-8 {
  background-color: rgb(7, 253, 60);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-9 {
  background-color: rgb(54, 231, 195);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-10 {
  background-color: rgb(41, 156, 3);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-11 {
  background-color: rgb(60, 100, 239);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-12 {
  background-color: rgb(55, 49, 142);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-13 {
  background-color: rgb(128, 253, 50);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-14 {
  background-color: rgb(129, 225, 103);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-15 {
  background-color: rgb(36, 227, 182);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-16 {
  background-color: rgb(14, 170, 198);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-17 {
  background-color: rgb(83, 222, 51);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-18 {
  background-color: rgb(169, 221, 15);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-19 {
  background-color: rgb(162, 141, 23);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-20 {
  background-color: rgb(231, 93, 107);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-21 {
  background-color: rgb(240, 57, 11);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-22 {
  background-color: rgb(242, 191, 9);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-23 {
  background-color: rgb(133, 142, 233);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-24 {
  background-color: rgb(26, 172, 90);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-25 {
  background-color: rgb(254, 88, 75);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-26 {
  background-color: rgb(120, 86, 48);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-27 {
  background-color: rgb(142, 205, 24);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-28 {
  background-color: rgb(193, 211, 157);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-29 {
  background-color: rgb(48, 2, 25);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-30 {
  background-color: rgb(144, 199, 43);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-31 {
  background-color: rgb(46, 235, 9);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-32 {
  background-color: rgb(43, 42, 188);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-33 {
  background-color: rgb(137, 74, 235);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-34 {
  background-color: rgb(10, 28, 195);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-35 {
  background-color: rgb(47, 64, 15);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-36 {
  background-color: rgb(123, 247, 123);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-37 {
  background-color: rgb(183, 113, 235);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-38 {
  background-color: rgb(119, 62, 93);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-39 {
  background-color: rgb(165, 214, 142);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-40 {
  background-color: rgb(6, 24, 32);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-41 {
  background-color: rgb(87, 173, 139);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-42 {
  background-color: rgb(220, 134, 1);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-43 {
  background-color: rgb(212, 245, 22);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-44 {
  background-color: rgb(22, 226, 155);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-45 {
  background-color: rgb(242, 52, 43);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-46 {
  background-color: rgb(33, 6, 237);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-47 {
  background-color: rgb(226, 39, 88);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-48 {
  background-color: rgb(127, 190, 44);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-49 {
  background-color: rgb(197, 70, 210);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-50 {
  background-color: rgb(38, 221, 111);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-51 {
  background-color: rgb(68, 44, 171);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-52 {
  background-color: rgb(44, 151, 136);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-53 {
  background-color: rgb(233, 28, 48);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-54 {
  background-color: rgb(186, 174, 25);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-55 {
  background-color: rgb(173, 167, 94);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-56 {
  background-color: rgb(73, 123, 104);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-57 {
  background-color: rgb(7, 80, 161);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-58 {
  background-color: rgb(247, 149, 73);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-59 {
  background-color: rgb(254, 67, 153);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-60 {
  background-color: rgb(98, 78, 165);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-61 {
  background-color: rgb(234, 107, 31);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-62 {
  background-color: rgb(26, 116, 230);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-63 {
  background-color: rgb(105, 24, 196);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-64 {
  background-color: rgb(47, 112, 205);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-65 {
  background-color: rgb(200, 123, 86);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-66 {
  background-color: rgb(76, 202, 25);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-67 {
  background-color: rgb(202, 13, 216);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-68 {
  background-color: rgb(133, 169, 54);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-69 {
  background-color: rgb(109, 68, 60);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-70 {
  background-color: rgb(47, 195, 11);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-71 {
  background-color: rgb(134, 230, 78);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-72 {
  background-color: rgb(80, 227, 146);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-73 {
  background-color: rgb(160, 127, 235);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-74 {
  background-color: rgb(59, 31, 146);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-75 {
  background-color: rgb(145, 28, 135);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-76 {
  background-color: rgb(2, 130, 208);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-77 {
  background-color: rgb(22, 86, 83);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-78 {
  background-color: rgb(213, 24, 127);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-79 {
  background-color: rgb(229, 54, 204);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-80 {
  background-color: rgb(40, 4, 140);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-81 {
  background-color: rgb(121, 181, 35);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-82 {
  background-color: rgb(92, 121, 207);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-83 {
  background-color: rgb(145, 103, 202);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-84 {
  background-color: rgb(184, 51, 175);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-85 {
  background-color: rgb(47, 9, 181);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-86 {
  background-color: rgb(35, 244, 216);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-87 {
  background-color: rgb(71, 154, 195);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-88 {
  background-color: rgb(136, 142, 128);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-89 {
  background-color: rgb(222, 109, 97);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-90 {
  background-color: rgb(77, 207, 116);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-91 {
  background-color: rgb(29, 74, 97);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-92 {
  background-color: rgb(244, 231, 118);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-93 {
  background-color: rgb(129, 42, 159);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-94 {
  background-color: rgb(251, 8, 163);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-95 {
  background-color: rgb(230, 129, 170);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-96 {
  background-color: rgb(166, 236, 119);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-97 {
  background-color: rgb(213, 211, 246);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-98 {
  background-color: rgb(99, 6, 246);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-99 {
  background-color: rgb(36, 15, 214);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}

.div-100 {
  background-color: rgb(130, 168, 233);
  min-width: 50vw;
  min-height: 4vw;
  display: block;
  margin: auto;
}/*# sourceMappingURL=random.css.map */