@mixin color-theme($theme: DarkGray) {
    background: $theme;
    border-radius: 10;
    box-shadow: 0 0 1px rgba($theme, .25);
    color: #fff;
    width: 70%;
    height: 200px;
  }
  
  .info {
    @include theme;
  }
  .alert {
    @include color-theme($theme: DarkRed);
    width: 20%;
    display: inline;
    float: right;
  }
  .success {
    @include color-theme($theme: DarkGreen);
  }

  .warning {
    @include color-theme($theme: Pink);
  }