#random-circles {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#random-circles .circle-1 {
  position: absolute;
  top: 3.041990541%;
  left: 94.8348408255%;
  width: 96px;
  height: 96px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 4s infinite 4s alternate ease-in-out;
}
#random-circles .circle-2 {
  position: absolute;
  top: 16.2756954121%;
  left: 53.1292404643%;
  width: 224px;
  height: 224px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 1s infinite 3s alternate ease-in-out;
}
#random-circles .circle-3 {
  position: absolute;
  top: 60.9710109814%;
  left: 85.5336732307%;
  width: 370px;
  height: 370px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 7s infinite 4s alternate ease-in-out;
}
#random-circles .circle-4 {
  position: absolute;
  top: 35.7573127074%;
  left: 21.0417953934%;
  width: 12px;
  height: 12px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 1s infinite 1s alternate ease-in-out;
}
#random-circles .circle-5 {
  position: absolute;
  top: 64.1694144716%;
  left: 39.8861379828%;
  width: 392px;
  height: 392px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 4s infinite 2s alternate ease-in-out;
}
#random-circles .circle-6 {
  position: absolute;
  top: 36.8216058861%;
  left: 38.0195654131%;
  width: 166px;
  height: 166px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 3s infinite 2s alternate ease-in-out;
}
#random-circles .circle-7 {
  position: absolute;
  top: 45.5896421305%;
  left: 58.849246538%;
  width: 153px;
  height: 153px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 4s infinite 1s alternate ease-in-out;
}
#random-circles .circle-8 {
  position: absolute;
  top: 78.4378076644%;
  left: 24.5437337844%;
  width: 307px;
  height: 307px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 1s infinite 2s alternate ease-in-out;
}
#random-circles .circle-9 {
  position: absolute;
  top: 60.4839049771%;
  left: 64.7578070809%;
  width: 140px;
  height: 140px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 1s infinite 1s alternate ease-in-out;
}
#random-circles .circle-10 {
  position: absolute;
  top: 76.8982122171%;
  left: 57.5319782772%;
  width: 247px;
  height: 247px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 1s infinite 1s alternate ease-in-out;
}
#random-circles .circle-11 {
  position: absolute;
  top: 18.5248319197%;
  left: 40.8239563151%;
  width: 64px;
  height: 64px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 4s infinite 3s alternate ease-in-out;
}
#random-circles .circle-12 {
  position: absolute;
  top: 84.2533514467%;
  left: 49.454546981%;
  width: 373px;
  height: 373px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 2s infinite 3s alternate ease-in-out;
}
#random-circles .circle-13 {
  position: absolute;
  top: 13.0339903801%;
  left: 3.8537888133%;
  width: 45px;
  height: 45px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 8s infinite 3s alternate ease-in-out;
}
#random-circles .circle-14 {
  position: absolute;
  top: 14.9714166353%;
  left: 56.5873434545%;
  width: 84px;
  height: 84px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 1s infinite 3s alternate ease-in-out;
}
#random-circles .circle-15 {
  position: absolute;
  top: 12.5221069677%;
  left: 37.6518787903%;
  width: 149px;
  height: 149px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 7s infinite 2s alternate ease-in-out;
}
#random-circles .circle-16 {
  position: absolute;
  top: 57.6357652961%;
  left: 93.087279071%;
  width: 198px;
  height: 198px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 1s infinite 3s alternate ease-in-out;
}
#random-circles .circle-17 {
  position: absolute;
  top: 64.567239182%;
  left: 99.3019686061%;
  width: 246px;
  height: 246px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 4s infinite 1s alternate ease-in-out;
}
#random-circles .circle-18 {
  position: absolute;
  top: 28.4112981871%;
  left: 91.503292208%;
  width: 355px;
  height: 355px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 8s infinite 3s alternate ease-in-out;
}
#random-circles .circle-19 {
  position: absolute;
  top: 52.7399968079%;
  left: 57.3693220513%;
  width: 338px;
  height: 338px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 2s infinite 2s alternate ease-in-out;
}
#random-circles .circle-20 {
  position: absolute;
  top: 68.389914156%;
  left: 35.4304347536%;
  width: 16px;
  height: 16px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 6s infinite 3s alternate ease-in-out;
}
#random-circles .circle-21 {
  position: absolute;
  top: 78.361410966%;
  left: 67.6572379743%;
  width: 361px;
  height: 361px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 7s infinite 3s alternate ease-in-out;
}
#random-circles .circle-22 {
  position: absolute;
  top: 54.3624679403%;
  left: 51.7099187974%;
  width: 317px;
  height: 317px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 3s infinite 3s alternate ease-in-out;
}
#random-circles .circle-23 {
  position: absolute;
  top: 47.2498228042%;
  left: 18.4639784171%;
  width: 378px;
  height: 378px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 4s infinite 4s alternate ease-in-out;
}
#random-circles .circle-24 {
  position: absolute;
  top: 71.7791168733%;
  left: 50.5055129512%;
  width: 131px;
  height: 131px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 8s infinite 1s alternate ease-in-out;
}
#random-circles .circle-25 {
  position: absolute;
  top: 96.2322889707%;
  left: 89.4881202449%;
  width: 139px;
  height: 139px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 3s infinite 2s alternate ease-in-out;
}
#random-circles .circle-26 {
  position: absolute;
  top: 55.4041491764%;
  left: 30.4901286895%;
  width: 38px;
  height: 38px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 7s infinite 3s alternate ease-in-out;
}
#random-circles .circle-27 {
  position: absolute;
  top: 80.6790346408%;
  left: 50.1275322164%;
  width: 123px;
  height: 123px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 7s infinite 4s alternate ease-in-out;
}
#random-circles .circle-28 {
  position: absolute;
  top: 36.7786830294%;
  left: 29.5025723385%;
  width: 368px;
  height: 368px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 1s infinite 3s alternate ease-in-out;
}
#random-circles .circle-29 {
  position: absolute;
  top: 99.7945355102%;
  left: 9.766450755%;
  width: 327px;
  height: 327px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 4s infinite 1s alternate ease-in-out;
}
#random-circles .circle-30 {
  position: absolute;
  top: 67.8511212982%;
  left: 73.7574342466%;
  width: 339px;
  height: 339px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 6s infinite 4s alternate ease-in-out;
}
#random-circles .circle-31 {
  position: absolute;
  top: 31.3426726813%;
  left: 23.3823763495%;
  width: 253px;
  height: 253px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 7s infinite 4s alternate ease-in-out;
}
#random-circles .circle-32 {
  position: absolute;
  top: 4.8309638733%;
  left: 52.8063075146%;
  width: 150px;
  height: 150px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 8s infinite 4s alternate ease-in-out;
}
#random-circles .circle-33 {
  position: absolute;
  top: 44.1163251359%;
  left: 99.8556082554%;
  width: 91px;
  height: 91px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 2s infinite 4s alternate ease-in-out;
}
#random-circles .circle-34 {
  position: absolute;
  top: 18.0965775184%;
  left: 73.5886792069%;
  width: 377px;
  height: 377px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 6s infinite 1s alternate ease-in-out;
}
#random-circles .circle-35 {
  position: absolute;
  top: 37.7393573658%;
  left: 87.874515694%;
  width: 380px;
  height: 380px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 5s infinite 2s alternate ease-in-out;
}
#random-circles .circle-36 {
  position: absolute;
  top: 5.011463252%;
  left: 52.3461731081%;
  width: 293px;
  height: 293px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 2s infinite 4s alternate ease-in-out;
}
#random-circles .circle-37 {
  position: absolute;
  top: 92.8659786763%;
  left: 55.7646166566%;
  width: 324px;
  height: 324px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 5s infinite 2s alternate ease-in-out;
}
#random-circles .circle-38 {
  position: absolute;
  top: 9.1989918962%;
  left: 17.5071342194%;
  width: 25px;
  height: 25px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 8s infinite 1s alternate ease-in-out;
}
#random-circles .circle-39 {
  position: absolute;
  top: 94.8361249359%;
  left: 91.1022636239%;
  width: 98px;
  height: 98px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 5s infinite 3s alternate ease-in-out;
}
#random-circles .circle-40 {
  position: absolute;
  top: 28.913681093%;
  left: 79.6837271995%;
  width: 129px;
  height: 129px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 1s infinite 1s alternate ease-in-out;
}
#random-circles .circle-41 {
  position: absolute;
  top: 85.3249936741%;
  left: 48.2663737022%;
  width: 218px;
  height: 218px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 4s infinite 3s alternate ease-in-out;
}
#random-circles .circle-42 {
  position: absolute;
  top: 93.6557234191%;
  left: 2.9139527594%;
  width: 112px;
  height: 112px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 7s infinite 2s alternate ease-in-out;
}
#random-circles .circle-43 {
  position: absolute;
  top: 67.5893598337%;
  left: 9.9491890723%;
  width: 248px;
  height: 248px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 4s infinite 3s alternate ease-in-out;
}
#random-circles .circle-44 {
  position: absolute;
  top: 38.4316020604%;
  left: 57.3369553277%;
  width: 180px;
  height: 180px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 4s infinite 4s alternate ease-in-out;
}
#random-circles .circle-45 {
  position: absolute;
  top: 1.4831330826%;
  left: 36.9652800881%;
  width: 239px;
  height: 239px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 5s infinite 3s alternate ease-in-out;
}
#random-circles .circle-46 {
  position: absolute;
  top: 6.7366851877%;
  left: 93.7822742318%;
  width: 61px;
  height: 61px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 5s infinite 3s alternate ease-in-out;
}
#random-circles .circle-47 {
  position: absolute;
  top: 86.0090920038%;
  left: 71.9552760163%;
  width: 113px;
  height: 113px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 6s infinite 4s alternate ease-in-out;
}
#random-circles .circle-48 {
  position: absolute;
  top: 81.8663217355%;
  left: 44.1505856999%;
  width: 238px;
  height: 238px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 2s infinite 2s alternate ease-in-out;
}
#random-circles .circle-49 {
  position: absolute;
  top: 74.7023016371%;
  left: 34.5480355066%;
  width: 196px;
  height: 196px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 7s infinite 2s alternate ease-in-out;
}
#random-circles .circle-50 {
  position: absolute;
  top: 19.2336043648%;
  left: 54.9503164551%;
  width: 299px;
  height: 299px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 4s infinite 4s alternate ease-in-out;
}
#random-circles .circle-51 {
  position: absolute;
  top: 93.5217295765%;
  left: 78.415899192%;
  width: 104px;
  height: 104px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 7s infinite 3s alternate ease-in-out;
}
#random-circles .circle-52 {
  position: absolute;
  top: 30.4394676407%;
  left: 11.142773898%;
  width: 233px;
  height: 233px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 1s infinite 4s alternate ease-in-out;
}
#random-circles .circle-53 {
  position: absolute;
  top: 19.9274065239%;
  left: 71.819549359%;
  width: 83px;
  height: 83px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 8s infinite 2s alternate ease-in-out;
}
#random-circles .circle-54 {
  position: absolute;
  top: 4.0316471784%;
  left: 27.6320881942%;
  width: 285px;
  height: 285px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 7s infinite 4s alternate ease-in-out;
}
#random-circles .circle-55 {
  position: absolute;
  top: 20.7588303947%;
  left: 42.3546069704%;
  width: 93px;
  height: 93px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 5s infinite 2s alternate ease-in-out;
}
#random-circles .circle-56 {
  position: absolute;
  top: 87.6991306802%;
  left: 11.7477625433%;
  width: 157px;
  height: 157px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 7s infinite 4s alternate ease-in-out;
}
#random-circles .circle-57 {
  position: absolute;
  top: 24.8151078278%;
  left: 29.310214485%;
  width: 199px;
  height: 199px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 1s infinite 1s alternate ease-in-out;
}
#random-circles .circle-58 {
  position: absolute;
  top: 45.2055431932%;
  left: 92.976249888%;
  width: 185px;
  height: 185px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 2s infinite 2s alternate ease-in-out;
}
#random-circles .circle-59 {
  position: absolute;
  top: 48.9182417105%;
  left: 27.013859302%;
  width: 349px;
  height: 349px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 8s infinite 3s alternate ease-in-out;
}
#random-circles .circle-60 {
  position: absolute;
  top: 30.9298409041%;
  left: 71.9327935212%;
  width: 194px;
  height: 194px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 6s infinite 1s alternate ease-in-out;
}
#random-circles .circle-61 {
  position: absolute;
  top: 68.736157257%;
  left: 23.3800768726%;
  width: 45px;
  height: 45px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 8s infinite 3s alternate ease-in-out;
}
#random-circles .circle-62 {
  position: absolute;
  top: 28.2055547239%;
  left: 43.3654611282%;
  width: 192px;
  height: 192px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 7s infinite 4s alternate ease-in-out;
}
#random-circles .circle-63 {
  position: absolute;
  top: 66.6631615013%;
  left: 13.1374756946%;
  width: 30px;
  height: 30px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 6s infinite 1s alternate ease-in-out;
}
#random-circles .circle-64 {
  position: absolute;
  top: 35.3532988845%;
  left: 22.0056602312%;
  width: 330px;
  height: 330px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 5s infinite 4s alternate ease-in-out;
}
#random-circles .circle-65 {
  position: absolute;
  top: 24.5904809757%;
  left: 36.3469744426%;
  width: 173px;
  height: 173px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 2s infinite 4s alternate ease-in-out;
}
#random-circles .circle-66 {
  position: absolute;
  top: 70.4589059201%;
  left: 55.0703450053%;
  width: 102px;
  height: 102px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 8s infinite 2s alternate ease-in-out;
}
#random-circles .circle-67 {
  position: absolute;
  top: 27.6222938024%;
  left: 9.4459090674%;
  width: 155px;
  height: 155px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 3s infinite 1s alternate ease-in-out;
}
#random-circles .circle-68 {
  position: absolute;
  top: 70.5377310504%;
  left: 95.6301856729%;
  width: 53px;
  height: 53px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 5s infinite 1s alternate ease-in-out;
}
#random-circles .circle-69 {
  position: absolute;
  top: 51.2542651986%;
  left: 39.4504315225%;
  width: 147px;
  height: 147px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 5s infinite 2s alternate ease-in-out;
}
#random-circles .circle-70 {
  position: absolute;
  top: 99.7273315223%;
  left: 71.0403606103%;
  width: 368px;
  height: 368px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 1s infinite 4s alternate ease-in-out;
}
#random-circles .circle-71 {
  position: absolute;
  top: 51.2773228489%;
  left: 40.2398271952%;
  width: 185px;
  height: 185px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 1s infinite 2s alternate ease-in-out;
}
#random-circles .circle-72 {
  position: absolute;
  top: 50.1317007917%;
  left: 15.3936317577%;
  width: 284px;
  height: 284px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 1s infinite 3s alternate ease-in-out;
}
#random-circles .circle-73 {
  position: absolute;
  top: 3.0571432453%;
  left: 55.7851986817%;
  width: 338px;
  height: 338px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 4s infinite 3s alternate ease-in-out;
}
#random-circles .circle-74 {
  position: absolute;
  top: 95.4283880592%;
  left: 15.6572786346%;
  width: 159px;
  height: 159px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 3s infinite 2s alternate ease-in-out;
}
#random-circles .circle-75 {
  position: absolute;
  top: 68.3024676282%;
  left: 88.5607241334%;
  width: 379px;
  height: 379px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 4s infinite 4s alternate ease-in-out;
}
#random-circles .circle-76 {
  position: absolute;
  top: 70.9539991045%;
  left: 11.6913183031%;
  width: 331px;
  height: 331px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 6s infinite 1s alternate ease-in-out;
}
#random-circles .circle-77 {
  position: absolute;
  top: 64.3654427329%;
  left: 43.3838237777%;
  width: 273px;
  height: 273px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 5s infinite 1s alternate ease-in-out;
}
#random-circles .circle-78 {
  position: absolute;
  top: 26.4731158538%;
  left: 75.1269312292%;
  width: 254px;
  height: 254px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 8s infinite 2s alternate ease-in-out;
}
#random-circles .circle-79 {
  position: absolute;
  top: 45.3180830325%;
  left: 62.5306406049%;
  width: 290px;
  height: 290px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 4s infinite 1s alternate ease-in-out;
}
#random-circles .circle-80 {
  position: absolute;
  top: 92.0520652844%;
  left: 61.7044267062%;
  width: 367px;
  height: 367px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 1s infinite 4s alternate ease-in-out;
}
#random-circles .circle-81 {
  position: absolute;
  top: 70.7404010478%;
  left: 79.9735300772%;
  width: 16px;
  height: 16px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 5s infinite 2s alternate ease-in-out;
}
#random-circles .circle-82 {
  position: absolute;
  top: 36.9872689041%;
  left: 21.9985505025%;
  width: 77px;
  height: 77px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 2s infinite 3s alternate ease-in-out;
}
#random-circles .circle-83 {
  position: absolute;
  top: 24.4467527344%;
  left: 86.6141608909%;
  width: 213px;
  height: 213px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 6s infinite 4s alternate ease-in-out;
}
#random-circles .circle-84 {
  position: absolute;
  top: 30.5196546614%;
  left: 83.1968371551%;
  width: 263px;
  height: 263px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 7s infinite 3s alternate ease-in-out;
}
#random-circles .circle-85 {
  position: absolute;
  top: 63.5866307385%;
  left: 88.9220673415%;
  width: 287px;
  height: 287px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 8s infinite 2s alternate ease-in-out;
}
#random-circles .circle-86 {
  position: absolute;
  top: 66.3662898468%;
  left: 48.3615540432%;
  width: 366px;
  height: 366px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 8s infinite 2s alternate ease-in-out;
}
#random-circles .circle-87 {
  position: absolute;
  top: 63.1443173191%;
  left: 30.0869693801%;
  width: 47px;
  height: 47px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 1s infinite 3s alternate ease-in-out;
}
#random-circles .circle-88 {
  position: absolute;
  top: 66.6323637573%;
  left: 49.6921559961%;
  width: 308px;
  height: 308px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 3s infinite 2s alternate ease-in-out;
}
#random-circles .circle-89 {
  position: absolute;
  top: 8.762838004%;
  left: 44.7078612225%;
  width: 277px;
  height: 277px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 2s infinite 3s alternate ease-in-out;
}
#random-circles .circle-90 {
  position: absolute;
  top: 28.2596605107%;
  left: 79.4750357168%;
  width: 172px;
  height: 172px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 5s infinite 1s alternate ease-in-out;
}
#random-circles .circle-91 {
  position: absolute;
  top: 64.6566601233%;
  left: 61.2362145337%;
  width: 142px;
  height: 142px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 7s infinite 3s alternate ease-in-out;
}
#random-circles .circle-92 {
  position: absolute;
  top: 94.1837371258%;
  left: 37.7358794598%;
  width: 289px;
  height: 289px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  border-radius: 50%;
  animation: expand-fade 7s infinite 1s alternate ease-in-out;
}
#random-circles .circle-93 {
  position: absolute;
  top: 69.567021936%;
  left: 84.291155106%;
  width: 123px;
  height: 123px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 5s infinite 4s alternate ease-in-out;
}
#random-circles .circle-94 {
  position: absolute;
  top: 32.0679616089%;
  left: 41.3863564995%;
  width: 234px;
  height: 234px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 3s infinite 2s alternate ease-in-out;
}
#random-circles .circle-95 {
  position: absolute;
  top: 88.0420662092%;
  left: 9.2727056292%;
  width: 89px;
  height: 89px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 3s infinite 1s alternate ease-in-out;
}
#random-circles .circle-96 {
  position: absolute;
  top: 0.9757053062%;
  left: 92.9834770733%;
  width: 155px;
  height: 155px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  border-radius: 50%;
  animation: expand-fade 7s infinite 2s alternate ease-in-out;
}
#random-circles .circle-97 {
  position: absolute;
  top: 39.40668642%;
  left: 73.0637430702%;
  width: 277px;
  height: 277px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 6s infinite 2s alternate ease-in-out;
}
#random-circles .circle-98 {
  position: absolute;
  top: 96.5018424387%;
  left: 49.2693594099%;
  width: 219px;
  height: 219px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  border-radius: 50%;
  animation: expand-fade 2s infinite 2s alternate ease-in-out;
}
#random-circles .circle-99 {
  position: absolute;
  top: 49.5692606028%;
  left: 90.383320858%;
  width: 330px;
  height: 330px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 8s infinite 2s alternate ease-in-out;
}
#random-circles .circle-100 {
  position: absolute;
  top: 96.1623792091%;
  left: 93.5341218427%;
  width: 170px;
  height: 170px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  border-radius: 50%;
  animation: expand-fade 2s infinite 3s alternate ease-in-out;
}

@keyframes expand-fade {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0.1;
  }
}/*# sourceMappingURL=random_solution.css.map */