#random-circles {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#random-circles .circle-1 {
  position: absolute;
  border-radius: 50%;
  width: 211px;
  height: 211px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 2s infinite 4s alternate ease-in-out;
  top: 93.4819347812%;
  left: 31.852190598%;
}
#random-circles .circle-2 {
  position: absolute;
  border-radius: 50%;
  width: 91px;
  height: 91px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 6s infinite 2s alternate ease-in-out;
  top: 93.3440573274%;
  left: 25.81162364%;
}
#random-circles .circle-3 {
  position: absolute;
  border-radius: 50%;
  width: 112px;
  height: 112px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 4s infinite 4s alternate ease-in-out;
  top: 32.8035711066%;
  left: 84.9901002667%;
}
#random-circles .circle-4 {
  position: absolute;
  border-radius: 50%;
  width: 59px;
  height: 59px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 8s infinite 4s alternate ease-in-out;
  top: 7.9512238759%;
  left: 23.1901617258%;
}
#random-circles .circle-5 {
  position: absolute;
  border-radius: 50%;
  width: 71px;
  height: 71px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 3s infinite 2s alternate ease-in-out;
  top: 22.9210388396%;
  left: 0.9291569811%;
}
#random-circles .circle-6 {
  position: absolute;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 5s infinite 2s alternate ease-in-out;
  top: 63.9953055659%;
  left: 52.3007879039%;
}
#random-circles .circle-7 {
  position: absolute;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 5s infinite 3s alternate ease-in-out;
  top: 16.2389289906%;
  left: 79.8810279835%;
}
#random-circles .circle-8 {
  position: absolute;
  border-radius: 50%;
  width: 78px;
  height: 78px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 7s infinite 2s alternate ease-in-out;
  top: 78.1060620978%;
  left: 16.0261001225%;
}
#random-circles .circle-9 {
  position: absolute;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 5s infinite 4s alternate ease-in-out;
  top: 28.6286608906%;
  left: 65.898777067%;
}
#random-circles .circle-10 {
  position: absolute;
  border-radius: 50%;
  width: 303px;
  height: 303px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 8s infinite 3s alternate ease-in-out;
  top: 76.102384429%;
  left: 6.6458025094%;
}
#random-circles .circle-11 {
  position: absolute;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 7s infinite 3s alternate ease-in-out;
  top: 43.495860342%;
  left: 41.4714640809%;
}
#random-circles .circle-12 {
  position: absolute;
  border-radius: 50%;
  width: 222px;
  height: 222px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 7s infinite 3s alternate ease-in-out;
  top: 70.6120479887%;
  left: 3.64922446%;
}
#random-circles .circle-13 {
  position: absolute;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 4s infinite 1s alternate ease-in-out;
  top: 74.7224087804%;
  left: 53.3938657618%;
}
#random-circles .circle-14 {
  position: absolute;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 6s infinite 3s alternate ease-in-out;
  top: 44.1528120133%;
  left: 18.4487976059%;
}
#random-circles .circle-15 {
  position: absolute;
  border-radius: 50%;
  width: 373px;
  height: 373px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 4s infinite 3s alternate ease-in-out;
  top: 40.4745774766%;
  left: 17.952536414%;
}
#random-circles .circle-16 {
  position: absolute;
  border-radius: 50%;
  width: 179px;
  height: 179px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 7s infinite 2s alternate ease-in-out;
  top: 89.4709876927%;
  left: 60.14962462%;
}
#random-circles .circle-17 {
  position: absolute;
  border-radius: 50%;
  width: 208px;
  height: 208px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 4s infinite 3s alternate ease-in-out;
  top: 38.7138932007%;
  left: 48.6655071583%;
}
#random-circles .circle-18 {
  position: absolute;
  border-radius: 50%;
  width: 398px;
  height: 398px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 8s infinite 2s alternate ease-in-out;
  top: 72.9955928664%;
  left: 98.9195248985%;
}
#random-circles .circle-19 {
  position: absolute;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 2s infinite 1s alternate ease-in-out;
  top: 98.5624657746%;
  left: 29.7117782323%;
}
#random-circles .circle-20 {
  position: absolute;
  border-radius: 50%;
  width: 269px;
  height: 269px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 7s infinite 2s alternate ease-in-out;
  top: 22.1123772028%;
  left: 84.3800989456%;
}
#random-circles .circle-21 {
  position: absolute;
  border-radius: 50%;
  width: 265px;
  height: 265px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 4s infinite 2s alternate ease-in-out;
  top: 24.2776896273%;
  left: 20.3307449481%;
}
#random-circles .circle-22 {
  position: absolute;
  border-radius: 50%;
  width: 194px;
  height: 194px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 3s infinite 2s alternate ease-in-out;
  top: 83.2559322586%;
  left: 5.9507353321%;
}
#random-circles .circle-23 {
  position: absolute;
  border-radius: 50%;
  width: 99px;
  height: 99px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 1s infinite 3s alternate ease-in-out;
  top: 88.7486607081%;
  left: 81.9066478309%;
}
#random-circles .circle-24 {
  position: absolute;
  border-radius: 50%;
  width: 336px;
  height: 336px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 2s infinite 1s alternate ease-in-out;
  top: 10.0599557124%;
  left: 11.3142615724%;
}
#random-circles .circle-25 {
  position: absolute;
  border-radius: 50%;
  width: 348px;
  height: 348px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 2s infinite 3s alternate ease-in-out;
  top: 40.817079814%;
  left: 5.1661250377%;
}
#random-circles .circle-26 {
  position: absolute;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 4s infinite 2s alternate ease-in-out;
  top: 52.6618312762%;
  left: 52.28879919%;
}
#random-circles .circle-27 {
  position: absolute;
  border-radius: 50%;
  width: 397px;
  height: 397px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 8s infinite 3s alternate ease-in-out;
  top: 61.1580706128%;
  left: 98.9643435827%;
}
#random-circles .circle-28 {
  position: absolute;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 4s infinite 3s alternate ease-in-out;
  top: 49.6913145664%;
  left: 96.2111127049%;
}
#random-circles .circle-29 {
  position: absolute;
  border-radius: 50%;
  width: 176px;
  height: 176px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 5s infinite 4s alternate ease-in-out;
  top: 58.3356828267%;
  left: 42.0838971133%;
}
#random-circles .circle-30 {
  position: absolute;
  border-radius: 50%;
  width: 167px;
  height: 167px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 1s infinite 2s alternate ease-in-out;
  top: 4.6539841891%;
  left: 24.2659789725%;
}
#random-circles .circle-31 {
  position: absolute;
  border-radius: 50%;
  width: 302px;
  height: 302px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 3s infinite 1s alternate ease-in-out;
  top: 68.0935477298%;
  left: 59.3604572839%;
}
#random-circles .circle-32 {
  position: absolute;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 1s infinite 3s alternate ease-in-out;
  top: 68.8192500573%;
  left: 39.8770979147%;
}
#random-circles .circle-33 {
  position: absolute;
  border-radius: 50%;
  width: 297px;
  height: 297px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 6s infinite 3s alternate ease-in-out;
  top: 65.7835796598%;
  left: 54.3949306163%;
}
#random-circles .circle-34 {
  position: absolute;
  border-radius: 50%;
  width: 223px;
  height: 223px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 3s infinite 2s alternate ease-in-out;
  top: 5.9204485985%;
  left: 64.4195768821%;
}
#random-circles .circle-35 {
  position: absolute;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 6s infinite 2s alternate ease-in-out;
  top: 41.8461287489%;
  left: 80.7023974685%;
}
#random-circles .circle-36 {
  position: absolute;
  border-radius: 50%;
  width: 299px;
  height: 299px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 5s infinite 3s alternate ease-in-out;
  top: 28.9408142178%;
  left: 18.1386568419%;
}
#random-circles .circle-37 {
  position: absolute;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 7s infinite 2s alternate ease-in-out;
  top: 4.1645353717%;
  left: 10.6204905769%;
}
#random-circles .circle-38 {
  position: absolute;
  border-radius: 50%;
  width: 278px;
  height: 278px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 5s infinite 1s alternate ease-in-out;
  top: 86.1027281407%;
  left: 31.3681488282%;
}
#random-circles .circle-39 {
  position: absolute;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 7s infinite 1s alternate ease-in-out;
  top: 84.1122032943%;
  left: 23.1939063605%;
}
#random-circles .circle-40 {
  position: absolute;
  border-radius: 50%;
  width: 159px;
  height: 159px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 8s infinite 2s alternate ease-in-out;
  top: 12.5294509491%;
  left: 20.0495164304%;
}
#random-circles .circle-41 {
  position: absolute;
  border-radius: 50%;
  width: 364px;
  height: 364px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 3s infinite 4s alternate ease-in-out;
  top: 31.8603261276%;
  left: 63.7249497101%;
}
#random-circles .circle-42 {
  position: absolute;
  border-radius: 50%;
  width: 382px;
  height: 382px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 7s infinite 2s alternate ease-in-out;
  top: 19.0907328737%;
  left: 30.48734938%;
}
#random-circles .circle-43 {
  position: absolute;
  border-radius: 50%;
  width: 78px;
  height: 78px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 2s infinite 2s alternate ease-in-out;
  top: 75.1300776447%;
  left: 48.9674438183%;
}
#random-circles .circle-44 {
  position: absolute;
  border-radius: 50%;
  width: 107px;
  height: 107px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 7s infinite 2s alternate ease-in-out;
  top: 66.3595702339%;
  left: 37.1248442305%;
}
#random-circles .circle-45 {
  position: absolute;
  border-radius: 50%;
  width: 333px;
  height: 333px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 8s infinite 2s alternate ease-in-out;
  top: 98.4926740873%;
  left: 88.631407152%;
}
#random-circles .circle-46 {
  position: absolute;
  border-radius: 50%;
  width: 298px;
  height: 298px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 4s infinite 3s alternate ease-in-out;
  top: 49.3758863178%;
  left: 30.6555123846%;
}
#random-circles .circle-47 {
  position: absolute;
  border-radius: 50%;
  width: 275px;
  height: 275px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 2s infinite 4s alternate ease-in-out;
  top: 92.0208945925%;
  left: 18.8910388494%;
}
#random-circles .circle-48 {
  position: absolute;
  border-radius: 50%;
  width: 249px;
  height: 249px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 6s infinite 2s alternate ease-in-out;
  top: 71.4084919005%;
  left: 21.0648532387%;
}
#random-circles .circle-49 {
  position: absolute;
  border-radius: 50%;
  width: 330px;
  height: 330px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 1s infinite 3s alternate ease-in-out;
  top: 76.0599651862%;
  left: 52.3552639511%;
}
#random-circles .circle-50 {
  position: absolute;
  border-radius: 50%;
  width: 251px;
  height: 251px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 6s infinite 3s alternate ease-in-out;
  top: 42.2544635664%;
  left: 22.5676866996%;
}
#random-circles .circle-51 {
  position: absolute;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 1s infinite 1s alternate ease-in-out;
  top: 53.2549335766%;
  left: 91.9441033935%;
}
#random-circles .circle-52 {
  position: absolute;
  border-radius: 50%;
  width: 309px;
  height: 309px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 5s infinite 2s alternate ease-in-out;
  top: 44.0992919648%;
  left: 34.3658732511%;
}
#random-circles .circle-53 {
  position: absolute;
  border-radius: 50%;
  width: 81px;
  height: 81px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 5s infinite 1s alternate ease-in-out;
  top: 55.9217470354%;
  left: 79.5930672951%;
}
#random-circles .circle-54 {
  position: absolute;
  border-radius: 50%;
  width: 181px;
  height: 181px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 4s infinite 4s alternate ease-in-out;
  top: 71.2264677433%;
  left: 49.238908576%;
}
#random-circles .circle-55 {
  position: absolute;
  border-radius: 50%;
  width: 320px;
  height: 320px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 6s infinite 4s alternate ease-in-out;
  top: 40.0576001002%;
  left: 61.3197352799%;
}
#random-circles .circle-56 {
  position: absolute;
  border-radius: 50%;
  width: 222px;
  height: 222px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 3s infinite 1s alternate ease-in-out;
  top: 40.6210668165%;
  left: 33.0011488357%;
}
#random-circles .circle-57 {
  position: absolute;
  border-radius: 50%;
  width: 204px;
  height: 204px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 5s infinite 2s alternate ease-in-out;
  top: 69.6307577344%;
  left: 85.1196648726%;
}
#random-circles .circle-58 {
  position: absolute;
  border-radius: 50%;
  width: 176px;
  height: 176px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 8s infinite 3s alternate ease-in-out;
  top: 54.9659230612%;
  left: 59.6286385054%;
}
#random-circles .circle-59 {
  position: absolute;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 8s infinite 1s alternate ease-in-out;
  top: 37.8472273108%;
  left: 6.1978985265%;
}
#random-circles .circle-60 {
  position: absolute;
  border-radius: 50%;
  width: 169px;
  height: 169px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 4s infinite 2s alternate ease-in-out;
  top: 67.7853313904%;
  left: 99.5895767226%;
}
#random-circles .circle-61 {
  position: absolute;
  border-radius: 50%;
  width: 142px;
  height: 142px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 1s infinite 4s alternate ease-in-out;
  top: 85.2149373287%;
  left: 97.2069499496%;
}
#random-circles .circle-62 {
  position: absolute;
  border-radius: 50%;
  width: 396px;
  height: 396px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 2s infinite 4s alternate ease-in-out;
  top: 29.3284025976%;
  left: 15.5259884625%;
}
#random-circles .circle-63 {
  position: absolute;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 2s infinite 4s alternate ease-in-out;
  top: 89.2739440421%;
  left: 81.7696791843%;
}
#random-circles .circle-64 {
  position: absolute;
  border-radius: 50%;
  width: 355px;
  height: 355px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 3s infinite 2s alternate ease-in-out;
  top: 0.8566521428%;
  left: 27.440585652%;
}
#random-circles .circle-65 {
  position: absolute;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 1s infinite 3s alternate ease-in-out;
  top: 17.1334458701%;
  left: 5.0002286844%;
}
#random-circles .circle-66 {
  position: absolute;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 5s infinite 1s alternate ease-in-out;
  top: 45.212160318%;
  left: 9.4374826747%;
}
#random-circles .circle-67 {
  position: absolute;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 2s infinite 2s alternate ease-in-out;
  top: 58.2105968847%;
  left: 59.7989374407%;
}
#random-circles .circle-68 {
  position: absolute;
  border-radius: 50%;
  width: 339px;
  height: 339px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 1s infinite 3s alternate ease-in-out;
  top: 78.356222296%;
  left: 78.0320467211%;
}
#random-circles .circle-69 {
  position: absolute;
  border-radius: 50%;
  width: 41px;
  height: 41px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 2s infinite 4s alternate ease-in-out;
  top: 54.3408332442%;
  left: 45.5042977804%;
}
#random-circles .circle-70 {
  position: absolute;
  border-radius: 50%;
  width: 373px;
  height: 373px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 8s infinite 3s alternate ease-in-out;
  top: 86.7099470617%;
  left: 85.3712357081%;
}
#random-circles .circle-71 {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 7s infinite 2s alternate ease-in-out;
  top: 13.4116971206%;
  left: 62.3532525662%;
}
#random-circles .circle-72 {
  position: absolute;
  border-radius: 50%;
  width: 329px;
  height: 329px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 3s infinite 1s alternate ease-in-out;
  top: 71.0690713175%;
  left: 57.1032417235%;
}
#random-circles .circle-73 {
  position: absolute;
  border-radius: 50%;
  width: 355px;
  height: 355px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 7s infinite 2s alternate ease-in-out;
  top: 54.9083019162%;
  left: 90.5149223839%;
}
#random-circles .circle-74 {
  position: absolute;
  border-radius: 50%;
  width: 328px;
  height: 328px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 8s infinite 4s alternate ease-in-out;
  top: 75.3969764657%;
  left: 2.0953445932%;
}
#random-circles .circle-75 {
  position: absolute;
  border-radius: 50%;
  width: 330px;
  height: 330px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 4s infinite 3s alternate ease-in-out;
  top: 78.2372367655%;
  left: 32.3071021502%;
}
#random-circles .circle-76 {
  position: absolute;
  border-radius: 50%;
  width: 320px;
  height: 320px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 1s infinite 1s alternate ease-in-out;
  top: 32.5483125074%;
  left: 78.8634847236%;
}
#random-circles .circle-77 {
  position: absolute;
  border-radius: 50%;
  width: 314px;
  height: 314px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 2s infinite 1s alternate ease-in-out;
  top: 26.3002206559%;
  left: 96.3255373807%;
}
#random-circles .circle-78 {
  position: absolute;
  border-radius: 50%;
  width: 319px;
  height: 319px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 7s infinite 2s alternate ease-in-out;
  top: 13.670058835%;
  left: 38.8386391665%;
}
#random-circles .circle-79 {
  position: absolute;
  border-radius: 50%;
  width: 135px;
  height: 135px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 1s infinite 1s alternate ease-in-out;
  top: 72.6460188147%;
  left: 96.1910873927%;
}
#random-circles .circle-80 {
  position: absolute;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 3s infinite 2s alternate ease-in-out;
  top: 98.0289211363%;
  left: 82.6831868652%;
}
#random-circles .circle-81 {
  position: absolute;
  border-radius: 50%;
  width: 383px;
  height: 383px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 2s infinite 3s alternate ease-in-out;
  top: 8.5076168437%;
  left: 79.7429002274%;
}
#random-circles .circle-82 {
  position: absolute;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 8s infinite 1s alternate ease-in-out;
  top: 86.8438006829%;
  left: 47.5628080272%;
}
#random-circles .circle-83 {
  position: absolute;
  border-radius: 50%;
  width: 396px;
  height: 396px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 3s infinite 2s alternate ease-in-out;
  top: 75.0480879625%;
  left: 93.3737319166%;
}
#random-circles .circle-84 {
  position: absolute;
  border-radius: 50%;
  width: 213px;
  height: 213px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 6s infinite 1s alternate ease-in-out;
  top: 96.0202511536%;
  left: 42.5876456162%;
}
#random-circles .circle-85 {
  position: absolute;
  border-radius: 50%;
  width: 168px;
  height: 168px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 6s infinite 3s alternate ease-in-out;
  top: 4.1956568259%;
  left: 30.4754710088%;
}
#random-circles .circle-86 {
  position: absolute;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 5s infinite 4s alternate ease-in-out;
  top: 35.5939035007%;
  left: 97.9946835386%;
}
#random-circles .circle-87 {
  position: absolute;
  border-radius: 50%;
  width: 188px;
  height: 188px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 2s infinite 3s alternate ease-in-out;
  top: 89.1308600342%;
  left: 30.5266145092%;
}
#random-circles .circle-88 {
  position: absolute;
  border-radius: 50%;
  width: 222px;
  height: 222px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 6s infinite 1s alternate ease-in-out;
  top: 27.8248658101%;
  left: 32.6879269004%;
}
#random-circles .circle-89 {
  position: absolute;
  border-radius: 50%;
  width: 169px;
  height: 169px;
  opacity: 0;
  background-color: rgba(105, 180, 255, 0.6);
  animation: expand-fade 4s infinite 3s alternate ease-in-out;
  top: 40.0198650306%;
  left: 55.6115804888%;
}
#random-circles .circle-90 {
  position: absolute;
  border-radius: 50%;
  width: 81px;
  height: 81px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 1s infinite 1s alternate ease-in-out;
  top: 37.3100805405%;
  left: 67.7430610986%;
}
#random-circles .circle-91 {
  position: absolute;
  border-radius: 50%;
  width: 172px;
  height: 172px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 4s infinite 3s alternate ease-in-out;
  top: 6.7449801195%;
  left: 32.2046616914%;
}
#random-circles .circle-92 {
  position: absolute;
  border-radius: 50%;
  width: 361px;
  height: 361px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 7s infinite 3s alternate ease-in-out;
  top: 84.2234921423%;
  left: 23.2008743515%;
}
#random-circles .circle-93 {
  position: absolute;
  border-radius: 50%;
  width: 262px;
  height: 262px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 1s infinite 4s alternate ease-in-out;
  top: 79.90856181%;
  left: 86.0377999909%;
}
#random-circles .circle-94 {
  position: absolute;
  border-radius: 50%;
  width: 348px;
  height: 348px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 5s infinite 2s alternate ease-in-out;
  top: 11.1375433678%;
  left: 38.4080285639%;
}
#random-circles .circle-95 {
  position: absolute;
  border-radius: 50%;
  width: 275px;
  height: 275px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 1s infinite 1s alternate ease-in-out;
  top: 51.8021291745%;
  left: 16.4374193048%;
}
#random-circles .circle-96 {
  position: absolute;
  border-radius: 50%;
  width: 193px;
  height: 193px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 8s infinite 3s alternate ease-in-out;
  top: 79.2902200231%;
  left: 17.0593908277%;
}
#random-circles .circle-97 {
  position: absolute;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  opacity: 0;
  background-color: rgba(255, 105, 180, 0.6);
  animation: expand-fade 2s infinite 2s alternate ease-in-out;
  top: 54.2808517321%;
  left: 20.7481598141%;
}
#random-circles .circle-98 {
  position: absolute;
  border-radius: 50%;
  width: 286px;
  height: 286px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 5s infinite 2s alternate ease-in-out;
  top: 3.0206778078%;
  left: 17.1989375857%;
}
#random-circles .circle-99 {
  position: absolute;
  border-radius: 50%;
  width: 225px;
  height: 225px;
  opacity: 0;
  background-color: rgba(242, 131, 34, 0.826);
  animation: expand-fade 6s infinite 3s alternate ease-in-out;
  top: 30.1400715%;
  left: 78.9429670741%;
}
#random-circles .circle-100 {
  position: absolute;
  border-radius: 50%;
  width: 201px;
  height: 201px;
  opacity: 0;
  background-color: rgba(145, 246, 247, 0.866);
  animation: expand-fade 8s infinite 3s alternate ease-in-out;
  top: 4.5393630986%;
  left: 27.6948905885%;
}

@keyframes expand-fade {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0.1;
  }
}/*# sourceMappingURL=random_solution.css.map */